.rightBar {
  width: 75%;
  height: 97vh;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}
.messages {
  overflow: scroll;
  height: 52vh;
}
.leftBar {
  width: 25%;
  height: 100%;
  border: solid 1px;
}
.mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
}
